@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
	--font-sans: "Lexend", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-lato: "Lato", var(--font-sans);

  --ui-container: 100rem;

	--ui-radius: 0.5rem;
}
